mainmenu "SPIRIT OS build configuration"

config KAS_INCLUDE_COMMON
    string
    default "/repo/kas.yml"
    help
      This file is automatically included in the kas build.
      It contains essential base configuration.

source "kas/machine/Kconfig"
source "kas/distro/Kconfig"
source "kas/packages/Kconfig"
source "kas/features/Kconfig"
