# Submenu for selecting DISTRO
menu "Select DISTRO"

choice
    prompt "Choose your target distro"
    default KCONF_DISTRO_SPIRIT
    help
      Select the Yocto distribution configuration to use.

config KCONF_DISTRO_SPIRIT
    bool "spirit-os"
    help
      Standard Spirit OS distribution. Poky-based.

endchoice

config DISTRO
    string
    default "spirit-os" if KCONF_DISTRO_SPIRIT

endmenu
